.jumbotron{
  background-color: #00BCBB;
  color: white;
}
.justificado{
  text-align:justify;
}
.centrado{
  text-align: center;
}
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #008CBA;
}
.footer{
  padding: 10px 10px 0 10px;
  background-color: #00BCBB;
  margin-bottom: 0px;
  margin-top: 10px;
  color:white;

}
.card-hotel{
  flex: 1 150px;
  padding: 5px 10px 5px 10px;
  justify-content: space-between;
  border-style: groove;
  background-color:  #00BCBB;
  color: white;
}
